{% extends "layout.html.twig" %}

{% block title %}{{ chapter.title }}{% endblock %}

{% block content %}

    <div class="well chapter">
<p>
    <h2>{{ chapter.title }}</h2>
    <p>{{ chapter.content }}</p>
        
    <h3>Comments</h3>
    {% for comment in comments %}
        <strong>{{ comment.author.username }}</strong> said : {{ comment.content }}<br>
    {% else %}
        No comments yet.
    {% endfor %}
<h3>Add a comment</h3>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        Soon!
    {% else %}
        <a href="{{ path('login') }} ">Log in</a> to add comments.
    {% endif %}
</div>
</p>
{% endblock %}
